body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: red;
}

#myCarousel img
{
    margin-top: 15px;
    color: white;
    font-size: 20px;

} 